<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633016972727-mvc42sk5q5qjjg474crmjtbf2qvr3qlo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633016972727-mvc42sk5q5qjjg474crmjtbf2qvr3qlo</string>
	<key>API_KEY</key>
	<string>AIzaSyBWuOKX45WY3B3fwrk6waJ79C5rcU5wjV0</string>
	<key>GCM_SENDER_ID</key>
	<string>633016972727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testApp</string>
	<key>PROJECT_ID</key>
	<string>fir-signin-2bb07</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-signin-2bb07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633016972727:ios:ab44dbbbd9ff16bbfe2432</string>
</dict>
</plist>